/*We have already set the text-align property as center in the HTML code. Below provided CSS is added just to make the output look better.*/

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
     margin: auto;
     width: 640px;
     padding: 50px;
     font-family: "Mulish", "Programme Light", Avenir, sans-serif;
     //color: #33475b;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

img {
     padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/*
.container {
  display: flex;
  flex-direction: column;

  gap: 10px;
  // gap: 10px 20px; // row-gap column gap
  row-gap: 10px;
  column-gap: 20px;
}
*/

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: black;
}

a:link {
  color: teal;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/*
body {
     margin: auto;
     width: 640px;
     padding: 50px;
     font-family: 'Avenir', sans-serif;
     //color: #33475b;
}
*/